<% if signed_in? %>
<h1>Who’s here for cookies?</h1>
  <div class="row">
    <div class="span6 offset3">

      <div id="request-status" class="alert alert-info"></div>

      <%= select_tag(:cookie_drop_down,
          options_for_select([
              ['Brownie', 1],
              ['Choclate chip', 2],
              ['Fortune cookie', 3],
              ['Gingerbread man', 4],
              ['Sugar cookie', 5],
            ],
          ),
        )%>

      <%= link_to "Request",
        { method: :post, remote: true},
        id: "request-btn",
        class: "btn btn-primary"%>

    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
